@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
  background-color: #eee;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.App {
  background-image:linear-gradient(#a7c7e7, #779ecb);
  padding: 5%;
  height: 100vh;
  width: auto;
}

NavBar {
  margin-left: 90%;
  width: auto;
}

#nav {  
  display: block;
  position: fixed;
  right: 0px;
  top: 0;
  z-index: 2;
  background-color: white;
  padding: 10px;
  text-align: right;
  box-shadow: -3px 3px 3px 3px grey; 
  transition: transform .5s cubic-bezier(0, .52, 0, 1);
}

.nav hr {
  color: #eee;
  margin-bottom: 0;
}

.show {
  transform: translate3d(0,0,0);
}

.hide {
  transform: translate3d(200px,0,0);
}

.burger-menu {
  margin-left: 80%;
  width: 20%;
  /* display:flex;
  justify-content: flex-end; */
}

.dropdown-item {
  display: block;
  padding-top: 8px;
}

.dropdown-item:hover {
  background-color: #ffc;
}

.loading {
  width: 20%;
  margin: auto;
}

.nav-button {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;
  font-size: 14pt;
  font-weight: bold;
  padding: 4px;
}

.crud {
  border-color: black;
}

.crud:hover {
  background-color: #ffc;
}

.gig {
  background-color: inherit;
  padding: 10px;
  border-radius: 10px;
  width:75%;
}

.gig header {
  display: flex;
  justify-content: space-around;
}

#gig-msg h1 {
  margin-top: 0;
  display: inline-block;
}

Asterisk {
  display: inline-block;
  vertical-align:text-top;
}

.play{
  vertical-align: top;
  font-size: 35pt;
  color: green;
}

.play:hover {
  color: limegreen;
  transform: scale(1.2);
}

.gig > div {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.gig-info {
  display: inline-block;
}

.table { 
  display: table;
}

.tr {
  display: table-row;
  background-color: #ddd;
}

.tr:hover {
  background-color: #e7e7e7;
}

.td {
  display: table-cell;
  padding: 5px 10px;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;  
}

.sticky {
  position: sticky;
}

.money {
  text-align: right;
}

.column1 {
  display: table-cell;
  width: 20%;
}

.column2 {
  display: table-cell;
  width: 30%
}

a {
  text-decoration: none; 
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}


.gig-list {
  width: 90%;
}

.item-list {
  height: 420px;
  overflow-y: scroll;
}

.ticket {
  display: inline-block;
  color: #3C3C3C;
  width: 100%;
  margin: 15px 0px 25px 40px;   
}

.normal-gig {
  background-color: white;
}

.next-gig {
  background-color: #ffc;
}

.ticket:hover{
  /* box-shadow: none; */
  transform: translate(5px,5px);
  box-shadow: 5px 5px 5px 5px #555;  
}

.ticket > .text{

  width: 75%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 0px 10px 0px 30px; 
  padding-right: 5px;
  border-right-style: dashed;
  border-right-color: #ddd;
  position: relative;
}

.ticket > .text > .act{
  font-size: 120%;
  font-weight: 900;
} 
.ticket > .text > .date, .ticket > .text > .venue {
  font-weight: 300;
  font-size: 100%;
  margin-left: 10px;
} 

.ticket > .money {
  margin-right: 5px;
}
.ticket > .stub {
  width: 25%;
}


.form-container {
  position: relative;
  width: 70%;
  margin-top: 30px;
  background-color: #ddd;
  padding: 5px;
}

.mtop {
  margin-top: 30px;
}

.form-group{
  padding: 2px;
  width: 100%;
} 

.form-button {
  float: right;
} 

.selector {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #eee;
  width: 70%;
  padding: 5px;
}

.edit {
 background-color: lightgreen;
}

.cancel {
  background-color: rgb(243, 109, 109);
}

/* .enabled {
  background-color:;
} */

.disabled {
  background-color: lightgray;
}

.label {
  display: inline-block;
  width: 60%; 
}

.stylesskills {
  width: 30%;
}

.checkbox-label {
  display: inline-block;
  width: 60%;
}

.checkbox-column {
  display: inline-block;
  width: 50%;
}

input {
  display: inline-block;
  width: 35%;
}

input[type=checkbox] {
  width: auto;
}

input[type=submit] {
  margin-top: 10px;
}

.back {
  border-color: lightgreen;
}

.back:hover {
  background-color: #ffc;
}

.cancelled {
  position: absolute;
  top: 0;
  left: 50;
  opacity: 0.5;
}

.gig-view-form {
  background-color: #779ecb;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.view-options {
  width: 20%;
  display: flex;
  flex-direction: column;

}

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
  }

  .play {
    margin-left: 80%;
  }
}

@media only screen and (max-width: 700px) { 

  .gig {
    width: 100%;
  }

  .play {
    margin-left: 0;
  }

  .burger-menu {
    margin-left: 90%;
    width: 15%;
    /* display:flex;
    justify-content: flex-end; */
  }
}