.table { 
  display: table;
  
}

.tr {
  display: table-row;
  
}

.td {
  display: table-cell;
  padding: 5px;
}

.money {
  text-align: right;
}

.column1 {
  display: table-cell;
  width: 20%;
}

.column2 {
  display: table-cell;
  width: 30%
}

a {
  text-decoration: none; 
}

a:visited {
  text-decoration: none;
  color: inherit;
}